{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
{{ super() }}
<main>
        <div class="col s12">
          <span class="flow-text">
            <h4>Привет {{ user['name'] }} 
              <span class="badge" data-badge-caption="[ID]">{{ user['id'] }}</span>
              <a class="waves-effect waves-teal btn-flat" href="/logout">Выйти</a>
            </h4>
          </span><hr>
        </div>
<!--      <div class="col s12"><span class="flow-text">This div is 12-columns wide on all screen sizes</span></div>-->
          <!-- Dropdown Trigger -->
{% include "nav.html" %}
          <!-- List of user groups -->
          <h5>Мои группы</h5>
          <table class="striped">
          <thead>
            <tr>
                <th>#</th>
                <th>Имя</th>
                <th>Дата добавления</th>
                <th colspan="2">Размер группы</th>
            </tr>
          </thead>
          <tbody>
          {% if dashboard_list|length == 0 %}
          <tr><td colspan="5">В избранных группах пусто. <a href='/actions/add_group'>Добавить новую группу или выбрать из существующих</a></td></tr>
          {% else %}
          {% for group in dashboard_list %}
          <tr>
            <td>{{loop.index}}</td>
            <td><a href="/details_group/{{group[2]}}">{{group[0]}}</a></td>
            <td>{{group[1]}}</td>
            <td>{{group[3]}} чел.</td>
            <td><a href="/actions/start_lesson/{{group[2]}}/select_subject">Начать урок<i class="material-icons">forward</i></a></td>
            </tr>{% endfor %}
          {% endif %}
          </tbody>
          </table>
      </div>
      </div>
</main>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}
