{% block nav %}
<a class='dropdown-trigger btn' href='#' data-target='actions'><i class="material-icons">menu</i></a>
  <!-- Dropdown Structure -->
  <ul id='actions' class='dropdown-content'>
    <li><a href="/"><i class="material-icons">home</i>Главная</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="/actions/add_group"><i class="material-icons">add_group</i>Группы</a></li>
    <li><a href="/actions/add_subject"><i class="material-icons">business_center</i>Предметы</a></li>
  </ul>
{% endblock %}

